<div class="ui menu">
  <div class="header item"><%= link_to 'Sushi List', root_path %></div>
  <div class="item"><%= link_to 'New Roll', new_sushi_roll_path %></div>
  <div class="item"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></div>
</div>
