<!-- <h1>Sushi Slingers</h1> -->
<!-- <p>Find me in app/views/sushi_rolls/show.html.erb</p> -->

<h1><%= @roll.name %></h1>
<h3><%= "$#{@roll.price}" %></h3>
<h3><%= @roll.primary_ingredient %> & <%= @roll.secondary_ingredient %></h3>
